body {
  background: White;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: #4863A0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 7px 18px;
    box-sizing: border-box;
}

button {
  text-align: center;
  border-radius: 5px;
  margin: px 50px;
  font-size: 15px;
  color: #4863A0;
  cursor: pointer;
  width: none ;
  background-color:inherit ;
  display: inline-block;
}

.heading{text-align: center;}

.subcontainer{text-align: none;}

.Submit {
  opacity: 0.8;
  color: #4863A0;
  text-align: center;
}

.Submit:hover {
  background-color: #4863A0;
  color: white;
}