body {
  background: white;
  margin: 0;
  height: 100vh;
  color: #4863A0;
  justify-content: center;
  align-items: center;
}

button {
  text-align: center;
  border-radius: 5px;
  margin: px 50px;
  font-size: 15px;
  color: #4863A0;
  background-color:inherit ;
  cursor: pointer;
  width: 10%;
  display: inline-block;
}

.Login{text-align: center;}

.Create.your.account{text-align: center;}

.button_Login {
  opacity: 0.8;
  color: #4863A0;
  text-align: center;
}

.button_Login:hover {
  background-color: #4863A0;
  color: white;
}

.button_Create_your_account{
  opacity: 0.8;
  color: #4863A0;
  text-align: center;
}

.button_Create_your_account:hover {
  background-color: #4863A0;
  color: white;
}

h1{
    text-align: center;
}
p{
    text-align: center;
}